body,
html {
    overflow-x: hidden
}

button,
input {
    border: none
}

*,
.row,
p,
ul {
    margin: 0
}

.fixed-menu .col-xs-3,
.header-top-line .col-xs-3 {
    padding-right: 0
}

.about-item-descr,
.about-item-icon,
.header-services-item-icon,
.info-form button,
.info-form input,
.val {
    vertical-align: middle
}

.button,
.footer-logo a span:nth-of-type(1),
.header-form h4,
.header-logo a span:nth-of-type(1),
.how-work-item span,
.info-form h4,
.info-item,
.map-descr h2,
.map-descr p:last-of-type,
.popupform h4,
.support-form h4 {
    text-transform: uppercase
}

* {
    padding: 0
}

footer,
header,
nav,
section,
.fixed-menu {
    margin: 0 auto;
    min-width: 1170px
}

body {
    font-size: 16px;
    line-height: 1.2;
    min-width: 320px;
    position: relative;
    font-family: futuralightcregular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html * {
    max-height: 1000000px
}

.clear {
    clear: both
}

::-webkit-input-placeholder {
    color: #8c8c8c;
    opacity: 1
}

:-moz-placeholder {
    color: #8c8c8c;
    opacity: 1
}

::-moz-placeholder {
    color: #8c8c8c;
    opacity: 1
}

:-ms-input-placeholder {
    color: #8c8c8c;
    opacity: 1
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
    outline: 0;
    text-decoration: none;
    color: inherit
}

button,
button:active,
button:focus,
input:focus,
span:focus {
    outline: 0
}

textarea,
textarea:active,
textarea:focus {
    border: 0;
    outline: 0;
    resize: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
    border: none
}

input.error:focus,
textarea.error:focus {
    background-color: #e36b6b
}

.fancybox-opened .fancybox-skin {
    box-shadow: none
}

.fancybox-skin {
    background: 0 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2
}

ul {
    list-style: none
}

.val {
    width: 0;
    height: 100%;
    display: inline-block
}

input[name=name] {
    background: url(../img/sprite.png) -765px 5px no-repeat
}

input[name=phone] {
    background: url(../img/sprite.png) -765px -54px no-repeat
}

input[name=email] {
    background: url(../img/sprite.png) -760px -113px no-repeat
}

span.clearfix {
    display: block
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.header-top-line-wrap {
    height: 104px
}

.header-top-line {
    padding-bottom: 11px;
    background-color: #fff
}

.header-logo {
    margin-top: 35px
}

.header-logo a {
    padding-left: 62px;
    position: relative;
    font-size: 18px;
    color: #033a78
}

.header-logo a:before {
    content: "";
    width: 79px;
    height: 71px;
    position: absolute;
    top: -20px;
    left: -25px;
    background: url(../img/favicon.png) center top no-repeat
}

.header-logo a span:nth-of-type(2) {
    display: block;
    padding-left: 62px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000
}

.button,
.header-menu ul li,
.header-menu ul li a,
.header-services-item-icon,
.subtitle h2 {
    display: inline-block
}

.header-menu {
    margin-top: 34px
}

.header-menu ul li a {
    margin-right: 2px;
    line-height: 36px;
    border: 1px solid #e8e8e8;
    font-size: 20px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s
}

.header-menu ul li a:hover {
    background-color: #033a78;
    border-color: transparent;
    color: #fff
}

.header-menu ul li:nth-of-type(1) a {
    width: 130px
}

.header-menu ul li:nth-of-type(2) a {
    width: 100px
}

.header-menu ul li:nth-of-type(3) a {
    width: 140px
}

.header-callback {
    position: relative;
    margin-top: 30px;
    padding-left: 57px
}

.header-callback:after,
.header-callback:before {
    position: absolute;
    content: ""
}

.header-callback:before {
    width: 1px;
    height: 39px;
    left: 44px;
    top: 5px;
    background-color: #e9e9e9
}

.header-callback:after {
    width: 38px;
    height: 38px;
    left: -3px;
    top: 3px;
    border-radius: 50%;
    background: url(../img/sprite.png) 10px 10px no-repeat #a82305
}

.header-callback a {
    font-size: 26px;
    color: #033a78
}

.header-callback p {
    padding-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px
}

.header-form input,
.info-form input {
    padding-left: 50px;
    font-family: 'Open Sans', sans-serif
}

.header-content {
    min-height: 728px;
    background: url(../img/bg1.jpg) center top no-repeat
}

.header-title {
    position: relative;
    margin-top: 60px;
    color: #fff
}

.header-title:after,
.header-title:before {
    content: "";
    width: 410px;
    height: 4px;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -205px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.header-title:after {
    top: auto;
    bottom: -10px
}

.header-title h1 {
    font-size: 43px
}

.header-title h2 {
    font-size: 20px
}

.header-services {
    position: relative;
    margin-top: 180px;
    padding-top: 25px
}

.header-services:after,
.header-services:before {
    position: absolute;
    content: ""
}

.header-services:before {
    width: 1132px;
    height: 297px;
    top: 0;
    left: -404px;
    background: url(../img/item-bg1.png) center top no-repeat;
    z-index: 3
}

.header-services:after {
    width: 464px;
    height: 406px;
    top: -22px;
    right: -374px;
    background: url(../img/header-img1.png) center top no-repeat;
    z-index: 2;
    pointer-events: none
}

.header-services-item {
    position: relative;
    z-index: 4;
    margin-top: 15px
}

.header-services-item:nth-of-type(1) .header-services-item-icon {
    background: url(../img/sprite.png) -44px 14px no-repeat #033a78
}

.header-services-item:nth-of-type(2) .header-services-item-icon {
    background: url(../img/sprite.png) -114px 11px no-repeat #033a78
}

.header-services-item:nth-of-type(3) .header-services-item-icon {
    background: url(../img/sprite.png) -180px 10px no-repeat #033a78
}

.header-services-item-icon {
    width: 64px;
    height: 64px;
    margin-left: 29px;
    border-radius: 50%
}

.header-services-item-descr {
    display: inline-block;
    vertical-align: middle;
    width: 515px;
    margin-left: 23px;
    font-size: 24px
}

.button {
    width: 255px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #a82305;
    -webkit-transition: .5s;
    transition: .5s
}

.button:hover {
    background-color: #881d05
}

.header-form {
    position: relative;
    margin-top: 52px
}

.header-form:after {
    content: "";
    width: 350px;
    height: 352px;
    position: absolute;
    right: -10px;
    top: 10px;
    background-color: rgba(255, 255, 255, .4)
}

.header-form form {
    position: relative;
    width: 350px;
    padding-bottom: 26px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1
}

.header-form h4 {
    padding-top: 27px;
    margin-bottom: 9px;
    font-size: 24px
}

.header-form input {
    width: 255px;
    height: 45px;
    line-height: 43px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #8c8c8c
}

.header-form input[name=name] {
    background-position: -760px -171px
}

.header-form input[name=phone] {
    background-position: -760px -230px
}

.header-form button {
    margin-top: 21px;
    color: #fff
}

.header-form p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #585858
}

.header-form p span {
    font-size: 14px;
    color: #a82305
}

.info-items-wrap h3,
.subtitle h2 {
    font-size: 36px
}

section.services {
    position: relative;
    min-height: 588px;
    background: url(../img/bg2.jpg) center top no-repeat
}

section.services:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -46px;
    bottom: -33px;
    border-top: 34px solid #fff;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: none;
    z-index: 1
}

.subtitle {
    position: relative
}

.subtitle:after,
.subtitle:before {
    content: "";
    position: absolute;
    left: 50%
}

.subtitle:before {
    width: 35px;
    height: 29px;
    margin-left: -17.5px;
    top: -35px;
    background: url(../img/sprite.png) -330px -5px no-repeat
}

.subtitle:after {
    width: 230px;
    height: 4px;
    bottom: -15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8
}

.subtitle h2 {
    position: relative
}

.subtitle h2:after,
.subtitle h2:before {
    width: 89px;
    height: 4px;
    position: absolute;
    top: -22px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    content: ""
}

.subtitle h2:before {
    left: 45px
}

.subtitle h2:after {
    right: 45px
}

.services-title {
    margin-top: 64px
}

.services-items-wrap {
    margin-top: 55px
}

.services-item {
    width: 395px;
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 18px;
    border-bottom: 1px dotted #e8e8e8;
    font-family: 'Open Sans', sans-serif
}

.services-item p {
    position: relative
}

.services-item p:before {
    content: "";
    width: 30px;
    height: 31px;
    position: absolute;
    left: -62px;
    top: 50%;
    margin-top: -15px;
    background: url(../img/sprite.png) -263px -3px no-repeat
}

.services-item:last-of-type {
    border: none
}

section.info {
    min-height: 819px;
    background: url(../img/bg3.jpg) center top no-repeat
}

.info-title {
    margin-top: 95px;
    color: #fff
}

.info-title:after {
    width: 342px;
    border-color: rgba(255, 255, 255, .3)
}

.info-title h2:after,
.info-title h2:before {
    width: 145px;
    border-color: rgba(255, 255, 255, .3)
}

.info-title h2:before {
    left: 160px
}

.info-title h2:after {
    right: 160px
}

.info-items-wrap {
    margin-top: 56px;
    color: #fff
}

.info-items-wrap .col-xs-5:nth-of-type(3) .info-item:before {
    left: 211px
}

.info-items-warn {
    position: relative;
    width: 190px;
    height: 44px;
    line-height: 44px;
    margin: 18px auto 0;
    background-color: #a82305;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600
}

.info-items-warn:after,
.info-items-warn:before {
    width: 123px;
    height: 29px;
    position: absolute;
    bottom: -6px;
    border-top: 1px solid #fff;
    content: ""
}

.info-items-warn:before {
    left: -140px;
    border-left: 1px solid #fff
}

.info-items-warn:after {
    right: -136px;
    border-right: 1px solid #fff
}

.info-item {
    position: relative;
    width: 100%;
    height: 107px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    border: 2px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600
}

.info-item:before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 221px;
    border-radius: 50%;
    background-color: #fff
}

.info-form {
    position: relative;
    width: 905px;
    margin: 70px auto 0
}

.info-form form,
.info-form:after {
    width: 100%;
    background-color: rgba(255, 255, 255, .8)
}

.info-form:after {
    content: "";
    height: 178px;
    position: absolute;
    left: -10px;
    top: -10px
}

.info-form form {
    position: relative;
    padding-bottom: 47px;
    margin-left: 6px;
    z-index: 1
}

.info-form h4 {
    padding-top: 31px;
    margin-bottom: 23px;
    font-size: 24px
}

.info-form input {
    display: inline-block;
    width: 255px;
    height: 45px;
    line-height: 43px;
    margin-right: 30px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #8c8c8c
}

.info-form button {
    display: inline-block;
    width: 250px;
    color: #fff
}

.info-form p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #585858
}

.info-form p span {
    font-size: 14px;
    color: #a82305
}

section.about {
    min-height: 1025px;
    background: url(../img/bg4.jpg) center top no-repeat
}

.about-title {
    margin-top: 75px
}

.about-title h2:before {
    left: 5px
}

.about-title h2:after {
    right: 5px
}

.about-items-wrap .col-xs-6:nth-of-type(1) {
    padding-left: 0
}

.about-info {
    position: relative;
    margin-top: 48px;
    padding-top: 10px
}

.about-info:before {
    content: "";
    width: 1011px;
    height: 395px;
    position: absolute;
    top: 0;
    left: -410px;
    background: url(../img/item-bg2.png) center top no-repeat
}

.about-director-info-descr p,
.about-info-item {
    position: relative
}

.about-info-item {
    width: 490px;
    margin-top: 18px;
    font-size: 24px;
    color: #fff;
    z-index: 1
}

.about-info-item span {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    background-color: #a82305;
    font-size: 36px
}

.about-item {
    width: 485px;
    margin-top: 10px;
    padding: 3px 0;
    margin-left: 67px;
    border: 1px solid #e8e8e8;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 2px 3px 0 rgba(52, 52, 52, .4)
}

.about-item:nth-of-type(1) {
    margin-top: 90px
}

.about-item:nth-of-type(1) .about-item-icon {
    background: url(../img/sprite.png) -382px 9px no-repeat #a82305
}

.about-item:nth-of-type(2) .about-item-icon {
    background: url(../img/sprite.png) -452px 10px no-repeat #a82305
}

.about-item:nth-of-type(3) .about-item-icon {
    background: url(../img/sprite.png) -517px 9px no-repeat #a82305
}

.about-item:nth-of-type(4) .about-item-icon {
    background: url(../img/sprite.png) -577px 10px no-repeat #a82305
}

.about-item-icon {
    display: inline-block;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    border-radius: 50%
}

.about-item-descr {
    display: inline-block;
    width: 425px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}

.about-director-img {
    margin-top: 67px;
    margin-left: -18px
}

.about-director-info {
    margin-top: 113px;
    padding-left: 10px
}

.about-director-info-title:after,
.about-director-info-title:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 4px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8
}

.about-director-info-title:after {
    margin-top: 7px
}

.about-director-info-title h4 {
    padding-top: 12px;
    font-family: FuturaBook;
    font-size: 30px;
    color: #033a78;
    text-transform: uppercase
}

.about-director-info-title p {
    font-family: FuturaBook;
    font-size: 20px;
    color: #828485
}

.about-director-info-descr,
.about-director-info-exp {
    font-family: 'Open Sans', sans-serif
}

.about-director-info-exp {
    margin-top: 32px;
    font-size: 20px
}

.about-director-info-descr {
    padding: 0 20px;
    margin-top: 40px;
    line-height: 1.4;
    font-style: italic;
    font-size: 18px;
    text-align: justify;
    position: relative;
}

.about-director-info-descr:after {
    content: "";
    width: 462px;
    height: 371px;
    position: absolute;
    right: -270px;
    bottom: -305px;
    background: url(../img/hammer.png) center top no-repeat;
    z-index: 1;
}

.about-director-info-descr p:after,
.about-director-info-descr p:before {
    content: "";
    width: 43px;
    height: 33px;
    position: absolute;
    background: url(../img/sprite.png) 0 -69px no-repeat
}

.about-director-info-descr p:before {
    left: -50px;
    top: -15px
}

.about-director-info-descr p:after {
    right: -50px;
    bottom: -15px;
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

section.how-work {
    position: relative;
    min-height: 770px;
    background: url(../img/bg8.jpg) no-repeat center top;
}

section.how-work:after,
section.how-work:before {
    position: absolute;
    content: ""
}


/*section.how-work:before {
    width: 462px;
    height: 371px;
    right: -200px;
    top: -180px;
    background: url(../img/hammer.png) center top no-repeat
}*/

section.how-work:after {
    left: 50%;
    margin-left: -46px;
    bottom: -33px;
    border-top: 34px solid #fff;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: none;
    z-index: 1
}

.how-work-title {
    margin-top: 61px
}

.how-work-title h2:before {
    left: 35px
}

.how-work-title h2:after {
    right: 35px
}

.how-work-items-left .how-work-item:nth-of-type(1) {
    margin-top: 111px;
    padding-right: 50px
}


/*.how-work-items-left .how-work-item:nth-of-type(1):before {
    top: -53px;
    left: -402px;
    background: url(../img/item-bg3.png) center top no-repeat
}*/

.how-work-items-left .how-work-item:nth-of-type(1) .how-work-item-step {
    right: -52px;
    top: 19px;
    background-color: #033a78
}

.how-work-items-left .how-work-item:nth-of-type(2) {
    margin-top: 135px;
    padding-right: 95px
}


/*.how-work-items-left .how-work-item:nth-of-type(2):before {
    top: -66px;
    left: -402px;
    background: url(../img/item-bg5.png) center top no-repeat
}*/

.how-work-items-left .how-work-item:nth-of-type(2) .how-work-item-step {
    right: -52px;
    top: 5px;
    background-color: #033a78
}

.how-work-items-right .how-work-item:nth-of-type(1) {
    margin-top: 223px;
    padding-left: 93px
}


/*.how-work-items-right .how-work-item:nth-of-type(1):before {
    top: -44px;
    right: -400px;
    background: url(../img/item-bg4.png) center top no-repeat
}*/

.how-work-items-right .how-work-item:nth-of-type(1) .how-work-item-step {
    left: -58px;
    top: 28px;
    background-color: #a82305
}

.how-work-items-right .how-work-item:nth-of-type(2) {
    margin-top: 141px;
    padding-left: 95px
}


/*.how-work-items-right .how-work-item:nth-of-type(2):before {
    top: -63px;
    right: -400px;
    background: url(../img/item-bg6.png) center top no-repeat
}*/

.how-work-items-right .how-work-item:nth-of-type(2) .how-work-item-step {
    left: -58px;
    top: 12px;
    background-color: #a82305
}

.how-work-item {
    position: relative;
    font-family: FuturaBook;
    font-size: 30px;
    line-height: 1
}

.footer-callback p,
.footer-copyright,
.footer-logo a span:nth-of-type(2),
.price-item-descr h4,
.price-item-descr ul li,
.price-slog,
.result-item-title h4,
.support-form input,
.support-form p {
    font-family: 'Open Sans', sans-serif
}

.how-work-item a,
.how-work-item p {
    position: relative;
    z-index: 1
}

.how-work-item a {
    width: 250px;
    margin-top: 12px;
    color: #fff;
    font-size: 16px
}

.how-work-item span {
    color: #a82305
}

.how-work-item:before {
    content: "";
    width: 1050px;
    height: 225px;
    position: absolute
}

.how-work-item-step {
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 60px;
    color: #fff;
    text-align: center
}

.how-work-item-step p {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

section.price {
    padding-bottom: 30px;
    position: relative;
    min-height: 991px;
    background: url(../img/bg5.jpg) center top no-repeat
}

.price-title {
    margin-top: 96px;
    color: #fff
}

.price-title:after {
    width: 342px;
    border-color: rgba(255, 255, 255, .3)
}

.price-title h2:after,
.price-title h2:before {
    width: 145px;
    border-color: rgba(255, 255, 255, .3)
}

.price-title h2:before {
    left: -8px
}

.price-title h2:after {
    right: -8px
}

.price-item {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    margin-top: 43px;
    margin-right: 15px
}

.price-item:nth-of-type(1) .price-item-icon {
    background: url(../img/sprite.png) -83px -61px no-repeat
}

.price-item:nth-of-type(2) .price-item-icon {
    background: url(../img/sprite.png) -168px -61px no-repeat
}

.price-item:nth-of-type(2) .price-item-descr h4 {
    padding-top: 32px
}

.price-item:nth-of-type(2) .price-item-descr h4 span {
    font-size: 30px
}

.price-item:nth-of-type(2) .price-item-descr h4:after {
    margin-top: 17px
}

.price-item:nth-of-type(3) .price-item-icon {
    background: url(../img/sprite.png) -249px -63px no-repeat
}

.price-item:last-of-type {
    margin-right: 0
}

.price-item-icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .6)
}

.price-item-title {
    margin-top: 2px;
    color: #fff
}

.price-item-title h3 {
    font-size: 36px
}

.price-item-descr {
    position: relative;
    margin-top: 22px;
    background: url(../img/item-bg7.png) center top no-repeat;
    background-size: 100% 100%
}

.price-item-descr:after {
    content: "";
    width: 366px;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: -130px;
    background: url(../img/item-bg8.png) center top no-repeat
}

.price-item-descr h4 {
    padding-top: 30px;
    font-size: 22px
}

.price-item-descr h4 span {
    font-size: 36px;
    font-weight: 600;
    color: #a82305
}

.price-item-descr h4:after {
    content: "";
    width: 317px;
    height: 29px;
    display: block;
    margin: 13px auto 0;
    background: url(../img/shadow1.png) center top no-repeat
}

.price-item-descr ul {
    width: 300px;
    margin-top: 3px;
    margin-left: 45px;
    list-style: disc url(../img/list-img1.png);
    text-align: left
}

.price-item-descr ul li {
    padding-left: 3px;
    font-size: 17px;
    line-height: 1.3
}

.price-item-descr ul li+li {
    margin-top: 11px
}

.price-item-descr a {
    width: 252px;
    margin-top: 25px;
    color: #fff
}

.price-slog {
    position: absolute;
    left: 50%;
    bottom: 96px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-style: italic;
    font-size: 33px;
    color: #fff
}

.price-slog:after,
.price-slog:before {
    content: "";
    width: 729px;
    height: 4px;
    display: block;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.price-slog:after {
    margin-top: 18px
}

.price-slog p {
    display: inline-block;
    padding-top: 16px;
    position: relative
}

.price-slog p:after,
.price-slog p:before {
    width: 31px;
    height: 24px;
    position: absolute;
    background: url(../img/sprite.png) -345px -75px no-repeat;
    content: ""
}

.price-slog p:before {
    left: -75px;
    top: 20px
}

.price-slog p:after {
    right: -72px;
    bottom: -3px;
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

section.result {
    padding-bottom: 30px;
    position: relative;
    min-height: 622px;
    background: url(../img/bg6.jpg) center top no-repeat
}

section.result:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -46px;
    bottom: -33px;
    border-top: 34px solid #fff;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: none;
    z-index: 1
}

.result-title {
    margin-top: 55px
}

.result-title h2:before {
    left: -25px
}

.result-title h2:after {
    right: -25px
}

.result-item {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    position: relative;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 17px;
    padding-bottom: 20px;
    border: 6px solid #ededed;
    background-color: #fff
}

.result-item:last-of-type {
    margin-right: 0
}

.result-item-date-wrap {
    width: 150px;
    height: 75px;
    position: absolute;
    left: -9px;
    top: -30px;
    background-color: #fff
}

.result-item-date {
    width: 138px;
    height: 50px;
    line-height: 50px;
    padding-left: 11px;
    background: url(../img/sprite.png) -429px -66px no-repeat;
    font-size: 20px;
    color: #fff
}

.result-item-title {
    min-height: 53px;
    margin-top: 45px
}

.result-item-title h4 {
    font-size: 19px;
    font-weight: 600;
    color: #a82305
}

.result-item-title h4 span {
    display: block;
    font-size: 14px
}

.result-item-about:nth-of-type(n+4) {
    margin-top: 20px
}

.result-item-about h5 {
    padding-bottom: 7px;
    font-size: 18px;
    color: #737373;
    border-bottom: 1px solid rgba(196, 196, 196, .2)
}

.result-item-about p {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.3
}

.result-item-about p span {
    font-size: 22px;
    color: #033a78
}

.map {
    height: 538px
}

.map .container {
    position: relative
}

.map-descr {
    position: absolute;
    left: 0;
    top: 125px;
    padding-left: 15px;
    z-index: 1
}

.map-descr:before {
    content: "";
    width: 1040px;
    height: 302px;
    position: absolute;
    left: -390px;
    top: 0;
    background: url(../img/item-bg9.png) center top no-repeat
}

.map-descr a,
.map-descr h2,
.map-descr p {
    position: relative;
    z-index: 2
}

.map-descr h2 {
    padding-top: 28px;
    margin-bottom: 17px;
    font-size: 42px
}

.map-descr h2:after {
    content: "";
    width: 193px;
    height: 4px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 20px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}

.map-descr a,
.map-descr p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 10px
}

.map-descr a {
    display: block
}

.support-form button,
.support-form input {
    display: inline-block;
    vertical-align: middle
}

section.support {
    position: relative;
    min-height: 302px;
    background: url(../img/bg7.jpg) center top no-repeat
}

section.support:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -47px;
    top: -34px;
    width: 94px;
    height: 34px;
    background: url(../img/item-bg10.png) center top no-repeat;
    z-index: 1
}

.support-form {
    position: relative;
    width: 905px;
    margin: 70px auto 0
}

.support-form form,
.support-form:after {
    width: 100%;
    background-color: rgba(255, 255, 255, .8)
}

.support-form:after {
    content: "";
    height: 178px;
    position: absolute;
    left: -10px;
    top: -10px
}

.support-form form {
    position: relative;
    padding-bottom: 47px;
    margin-left: 6px;
    z-index: 1
}

.support-form h4 {
    padding-top: 31px;
    margin-bottom: 23px;
    font-size: 24px
}

.support-form input {
    width: 255px;
    height: 45px;
    line-height: 43px;
    padding-left: 50px;
    margin-right: 30px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #8c8c8c
}

.support-form button {
    width: 250px;
    color: #fff
}

.support-form p {
    margin-top: 10px;
    font-size: 12px;
    color: #585858
}

.support-form p span {
    font-size: 14px;
    color: #a82305
}

footer {
    padding-bottom: 20px;
    background-color: #fff
}

footer .col-xs-3 {
    padding-right: 0
}

.footer-logo {
    margin-top: 47px
}

.footer-logo a {
    padding-left: 62px;
    position: relative;
    font-size: 18px;
    color: #033a78
}

.footer-logo a:before {
    content: "";
     width: 79px;
    height: 71px;
    position: absolute;
    top: -20px;
    left: -25px;
    background: url(../img/favicon.png) center top no-repeat
}

.footer-logo a span:nth-of-type(2) {
    display: block;
    padding-left: 62px;
    font-size: 14px;
    color: #000
}

.footer-copyright {
    margin-top: 53px
}

.footer-copyright p {
    font-size: 14px;
    color: #434343
}

.footer-callback {
    position: relative;
    margin-top: 41px;
    padding-left: 57px
}

.footer-callback:after,
.footer-callback:before {
    position: absolute;
    content: ""
}

.footer-callback:before {
    width: 1px;
    height: 39px;
    left: 44px;
    top: 5px;
    background-color: #e9e9e9
}

.footer-callback:after {
    width: 38px;
    height: 38px;
    left: -3px;
    top: 3px;
    border-radius: 50%;
    background: url(../img/sprite.png) 10px 10px no-repeat #a82305
}

.footer-callback a {
    font-size: 26px;
    color: #033a78
}

.footer-callback p {
    padding-left: 7px;
    font-size: 14px
}

.popupform {
    width: 380px;
    height: 468px;
    position: relative;
    display: none
}

.popupform:after {
    content: "";
    width: 370px;
    height: 458px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: rgba(255, 255, 255, .4)
}

.popupform form {
    position: relative;
    width: 370px;
    padding-bottom: 26px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1
}

.popupform h4 {
    padding-top: 27px;
    margin-bottom: 9px;
    font-size: 24px
}

.popupform input,
.popupform textarea {
    width: 320px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px
}

.popupform input {
    height: 45px;
    line-height: 43px;
    padding-left: 50px;
    background-color: #fff
}

.popupform input[name=name] {
    background-position: -760px -171px
}

.popupform input[name=phone] {
    background-position: -760px -230px
}

.popupform textarea {
    height: 102px;
    padding-top: 10px;
    padding-left: 10px
}

.popupform button {
    margin-top: 10px;
    color: #fff
}

.popupform p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #585858
}

.popupform p span {
    font-size: 14px;
    color: #a82305
}

.popupthx-wrap {
    width: 570px;
    height: 150px;
    position: relative;
    display: none
}

.popupthx,
.popupthx-wrap:before {
    width: 560px;
    background-color: rgba(255, 255, 255, .8)
}

.popupthx-wrap:before {
    content: "";
    height: 140px;
    position: absolute;
    left: 0;
    top: 0
}

.popupthx {
    position: relative;
    display: inline-block;
    padding-top: 38px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    z-index: 1
}

.popupthx h3 {
    font-size: 36px;
    color: #033a78
}

.fancybox-close {
    width: 13px;
    height: 13px;
    right: -10px;
    top: -15px;
    background: url(../img/sprite.png) -598px -84px no-repeat
}

.arrow-up {
    position: fixed;
    bottom: 25px;
    left: 50px;
    display: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    z-index: 100;
}

.arrow-up a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../img/arrow.png) center center no-repeat #acacac;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.arrow-up a:hover {
    background-color: #8c1900;
}

.title_result_bot h2 {
    font: 30px "futuralightcregular";
    color: #100e0e;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 25px;
}

.title_result_bot h2 span {
    display: block;
}

.title_result_bot h3 {
    font: 26px "futuralightcregular";
    color: #100e0e;
    text-align: center;
    margin-bottom: 35px;
}

.title_result_bot h3 span {
    color: #c41d00;
}

.banks li {
    float: left;
    width: calc(20% - 15px);
    margin: 0 7.5px;
    text-align: center;
}

.banks li p {
    font: 17px 'Open Sans', sans-serif;
}

.banks img {
    width: 100%;
    margin-bottom: 15px;
}

.banks {
    margin-bottom: 40px;
}

.result-items-wrap {
    padding-bottom: 55px;
    background: url(../img/line_result_bot.png) no-repeat center bottom;
}