/* font-family: "AgoraSansProRegular"; */

@font-face {
    font-family: "AgoraSansProRegular";
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot");
    src: url("../fonts/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"), url("../fonts/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProBold"; */

@font-face {
    font-family: "AgoraSansProBold";
    src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot");
    src: url("../fonts/AgoraSansProBold/AgoraSansProBold.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProBold/AgoraSansProBold.woff") format("woff"), url("../fonts/AgoraSansProBold/AgoraSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProLight"; */

@font-face {
    font-family: "AgoraSansProLight";
    src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot");
    src: url("../fonts/AgoraSansProLight/AgoraSansProLight.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProLight/AgoraSansProLight.woff") format("woff"), url("../fonts/AgoraSansProLight/AgoraSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProMedium"; */

@font-face {
    font-family: "AgoraSansProMedium";
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot");
    src: url("../fonts/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"), url("../fonts/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProBlack"; */

@font-face {
    font-family: "AgoraSansProBlack";
    src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot");
    src: url("../fonts/AgoraSansProBlack/AgoraSansProBlack.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProBlack/AgoraSansProBlack.woff") format("woff"), url("../fonts/AgoraSansProBlack/AgoraSansProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProThin"; */

@font-face {
    font-family: "AgoraSansProThin";
    src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot");
    src: url("../fonts/AgoraSansProThin/AgoraSansProThin.eot?#iefix")format("embedded-opentype"), url("../fonts/AgoraSansProThin/AgoraSansProThin.woff") format("woff"), url("../fonts/AgoraSansProThin/AgoraSansProThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
