/* font-family: "AeroMaticsBold"; */

@font-face {
    font-family: "AeroMaticsBold";
    src: url("../fonts/AeroMaticsBold/AeroMaticsBold.eot");
    src: url("../fonts/AeroMaticsBold/AeroMaticsBold.eot?#iefix")format("embedded-opentype"), url("../fonts/AeroMaticsBold/AeroMaticsBold.woff") format("woff"), url("../fonts/AeroMaticsBold/AeroMaticsBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AeroMaticsBoldItalic"; */

@font-face {
    font-family: "AeroMaticsBoldItalic";
    src: url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot");
    src: url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.woff") format("woff"), url("../fonts/AeroMaticsBoldItalic/AeroMaticsBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "PTSansRegular"; */

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "PTSansBold"; */

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
