body,
html {
  background: #fff;
}

body :focus,
html :focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  max-width: 980px;
  position: relative;
}

input {
  border: none;
  box-sizing: border-box;
  outline: none;
}

button[type=submit] {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper_header {
  background: url(../img/header_bg.jpg) no-repeat center center;
  background-size: cover;
}

header,
footer {
  padding-top: 25px;
}

header .logo,
footer .logo {
  position: relative;
  display: block;
}

header .logo:after,
footer .logo:after {
  width: 2px;
  height: 100%;
  content: '';
  position: absolute;
  background: #f44336;
  top: 0;
  right: -15px;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}

header .menu,
footer .menu {
  margin-bottom: 110px;
}

header img,
footer img {
  padding-left: 10px;
  display: block;
  width: 100%;
}

header h1,
footer h1 {
  padding-top: 20px;
  font: 17px "PTSansBold", sans-serif;
  color: #fff;
}

header .callback,
footer .callback {
  padding: 0;
}

header .callback a:nth-child(1),
footer .callback a:nth-child(1) {
  font: 34px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  margin-bottom: 5px;
  text-decoration: none;
  display: block;
}

header .callback a:nth-child(2),
footer .callback a:nth-child(2) {
  font: 17px "PTSansRegular", sans-serif;
  color: #d9d9d9;
  padding-left: 25px;
  background: url(../img/phone_header.png) no-repeat center left;
  text-decoration: none;
  display: block;
}

.shapka {
  text-align: center;
  position: relative;
  z-index: 1;
}

.shapka h2 {
  font: 50px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}

.shapka .red {
  margin-left: 15px;
  position: relative;
  display: inline-block;
}

.shapka .red:before {
  width: 105%;
  height: 95%;
  background: #f44336;
  position: absolute;
  content: '';
  top: 0;
  left: -1.5%;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  z-index: -1;
}

.shapka p {
  font: 18px "PTSansRegular", sans-serif;
  color: #d9d9d9;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}

.shapka p:before {
  width: 100%;
  position: absolute;
  content: '';
  height: 200px;
  top: 50%;
  margin-top: -100px;
  background: url(../img/shabka_shadow.png) no-repeat center center;
  left: 0;
  background-size: cover;
  z-index: -1;
}

.shapka .a_system {
  width: 100%;
  height: 50px;
  font: 18px "PTSansBold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid #fff;
  display: block;
  text-decoration: none;
  margin-bottom: 100px;
  position: relative;
  z-index: 10;
  transition: .3s;
}

.shapka .a_system:hover {
  background: #f44336;
  border-color: #f44336;
}

.shapka .a_system:hover:after {
  background: #fff;
}

.shapka .a_system:after {
  position: absolute;
  transition: .3s;
  content: '';
  left: 50%;
  bottom: -2px;
  width: 60px;
  height: 4px;
  background: #f44336;
  margin-left: -30px;
  border-top: 2px solid #888788;
  border-left: 2px solid #888788;
  border-right: 2px solid #888788;
}

.shapka_bottom {
  text-align: center;
  padding-bottom: 160px;
}

.shapka_bottom .a_tobot {
  display: inline-block;
  font: 18px "PTSansRegular", sans-serif;
  color: #fff;
  padding-bottom: 7px;
  position: relative;
  text-decoration: none;
}

.shapka_bottom .a_tobot:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  bottom: -35px;
  left: 50%;
  margin-left: -10px;
  background: #4e4e4d url(../img/botton_tobot_arrow.png) no-repeat center center;
  -webkit-animation: big 1.5s linear infinite;
  animation: big 1.5s linear infinite;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes big {
  0% {
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes big {
  0% {
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.title h2 {
  font: 50px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  line-height: 40px;
}

.title .red {
  padding-left: 7px;
  padding-right: 12px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-left: 5px;
  position: relative;
  z-index: 10;
}

.title .red:before {
  width: 100%;
  height: 95%;
  background: #f44336;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  z-index: -1;
}

.with_us {
  box-shadow: 0 -5px 100px -5px #2d2b2b;
  background: #2d2b2b url(../img/with_us_bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  z-index: 5;
  margin-bottom: -2px;
  top: -1px;
}

.with_us .flex_with {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.with_us .item_with {
  padding: 35px 20px 35px;
  border: 1px solid #4b484b;
  cursor: pointer;
}

.with_us .item_with img {
  opacity: .5;
  transition: .3s;
}

.with_us .item_with:nth-child(1) {
  border-right: none;
}

.with_us .item_with:nth-child(2) {
  border-right: none;
}

.with_us .item_with:hover {
  border: 1px solid #fff;
}

.with_us .item_with:hover img {
  opacity: 1;
}

.with_us .item_with:hover p {
  color: #fff;
}

.with_us h3 {
  font: 30px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  padding-left: 50px;
  position: relative;
  margin: 25px 0 20px;
}

.with_us h3:before {
  position: absolute;
  content: '';
  top: 4px;
  left: 0;
  height: 25px;
  width: 40px;
  background: #f44336;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.with_us p {
  font: 16px "PTSansRegular", sans-serif;
  color: #bdbcbd;
  transition: .3s;
}

.with_us .title_two {
  margin-top: 160px;
}

.with_us .title_two p {
  font: 18px "PTSansRegular", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 45px;
}

.with_us .title_two p span {
  display: block;
}

.with_us .form_id button:hover {
  box-shadow: inset 0 0 0px 30px rgba(255, 255, 255, 0.2);
}

.form_id {
  margin-bottom: 80px;
}

.form_id input::-webkit-input-placeholder {
  color: #242424;
}

.form_id input::-moz-placeholder {
  color: #242424;
}

.form_id input:-moz-placeholder {
  color: #242424;
}

.form_id input:-ms-input-placeholder {
  color: #242424;
}

.form_id input {
  width: 100%;
  height: 60px;
  padding-left: 60px;
  font: 16px "PTSansRegular", sans-serif;
  color: #242424;
}

.form_id input[name=name] {
  background: #fff url(../img/form_name.png) no-repeat 15px center;
}

.form_id input[name=tel] {
  background: #fff url(../img/form_phone.png) no-repeat 15px center;
}

.form_id button {
  width: 100%;
  height: 60px;
  font: 18px "PTSansBold", sans-serif;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  background: #f06058;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f06058), color-stop(100%, #f54337));
  background: linear-gradient(to bottom, #f06058 0%, #f54337 100%);
  transition: .3s;
}

.form_id button:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 5px;
  background: #fff;
  bottom: -4px;
  border: 3px solid #6a3635;
  border-bottom: none;
  left: 50%;
  margin-left: -30px;
}

.biz {
  position: relative;
  z-index: 5;
  background: #fff;
  padding-bottom: 30px;
  padding-top: 100px;
}

.biz:before {
  position: absolute;
  content: '';
  top: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: url(../img/top_reviews_bg.jpg) no-repeat center center;
}

.biz .title h2 {
  margin-top: 80px;
  color: #f44336;
}

.biz .title h2 span {
  color: #fff;
  margin-right: 3px;
}

.biz .table {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.biz .col-sm-4 {
  float: none;
  margin-bottom: 45px;
}

.biz .item_title {
  margin-bottom: 20px;
  position: relative;
  display: table;
}

.biz .item_title img {
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.biz .item_title h3 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #242424;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.biz p {
  font: 16px "PTSansRegular", sans-serif;
  color: #7e7e7e;
}

.wrapper_table {
  background: url(../img/table_bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 120px 0 80px;
}

.wrapper_table .table {
  display: table;
}

.wrapper_table .table-cell {
  display: table-cell;
  float: none;
  border: 2px solid #4d4b4b;
  padding: 60px 10px 30px;
  position: relative;
}

.wrapper_table .table-cell:before {
  width: 80px;
  height: 80px;
  position: absolute;
  content: '';
  top: -41px;
  left: 50%;
  margin-left: -40px;
}

.wrapper_table .table-cell:after {
  position: absolute;
  content: '';
  left: 50%;
  top: 38px;
  margin-left: -6px;
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #f44336;
  border-width: 6px;
}

.wrapper_table .table-cell:last-child {
  border-left: none;
}

.wrapper_table .table-cell:last-child:before {
  background: #f44336 url(../img/table_cell_before2.png) no-repeat center center;
}

.wrapper_table .table-cell:first-child:before {
  background: #f44336 url(../img/table_cell_before1.png) no-repeat center center;
}

.wrapper_table h3 {
  font: 30px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper_table li {
  position: relative;
  font: 16px "PTSansRegular", sans-serif;
  color: #bdbcbd;
  padding-left: 20px;
  margin-bottom: 15px;
}

.wrapper_table li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #f44336;
  left: 0;
  top: 5px;
}

.reviews {
  padding-bottom: 30px;
}

.reviews .title {
  margin-top: 75px;
  margin-bottom: 45px;
}

.reviews .title h2 {
  color: #f44336;
}

.reviews .title h2 span {
  color: #fff;
}

.reviews h3 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #242424;
  margin-bottom: 10px;
}

.reviews h4 {
  font: 16px "PTSansRegular", sans-serif;
  color: #7e7e7e;
  margin-bottom: 25px;
}

.reviews .reviews_item {
  margin-bottom: 45px;
}

.reviews .reviews_item img {
  width: 100%;
}

.reviews h5 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #f44336;
  margin-bottom: 15px;
}

.reviews .review {
  background: #f1f1f1 url(../img/riview_item_before.png) no-repeat 10px 20px;
  padding: 15px 25px 60px 80px;
}

.reviews .review a {
  position: absolute;
  right: 50px;
  bottom: 20px;
  padding-right: 20px;
  font: 16px "PTSansBold", sans-serif;
  color: #242424;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s;
}

.reviews .review a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  background: #f44336;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: .3s;
}

.reviews .review a:hover {
  color: #f44336;
}

.reviews .review a:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.reviews .review a:after {
  content: '>';
  transition: .3s;
  position: absolute;
  right: 0;
  top: 0;
}

.reviews .auto_height a:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.reviews .auto_height a {
  color: #f44336;
}

.reviews p {
  font: 16px "PTSansRegular", sans-serif;
  color: #7e7e7e;
  max-height: 60px;
  transition: .5s;
  overflow: hidden;
}

.reviews .auto_height p {
  transition: 1s;
  max-height: 400px;
}

.reviews .auto_height:after {
  opacity: 0;
}

.reviews .review:after {
  transition: .4s;
  position: absolute;
  content: '';
  left: 5%;
  bottom: 55px;
  width: 90%;
  height: 30px;
  background: rgba(241, 241, 241, 0.3);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241, 241, 241, 0.3)), color-stop(1%, rgba(241, 241, 241, 0.31)), color-stop(100%, #f1f1f1));
  background: linear-gradient(to bottom, rgba(241, 241, 241, 0.3) 0%, rgba(241, 241, 241, 0.31) 1%, #f1f1f1 100%);
}

.reviews .reviews_bottom {
  text-align: center;
}

.reviews .our_button {
  font: 18px "PTSansBold", sans-serif;
  color: #f44336;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  background: url(../img/our_reviews_bg.png) no-repeat center left;
  display: inline-block;
  margin-bottom: 50px;
}

.price .title h2 {
  margin-bottom: 0;
}

.price .title .block {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 5px;
}

.price .title p {
  text-align: center;
  font: 18px "PTSansRegular", sans-serif;
  color: #fff;
  margin-top: 15px;
}

.price .title p span {
  display: block;
}

.price .a_system {
  display: block;
  height: 50px;
  width: 300px;
  font: 18px "PTSansBold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid #fff;
  text-decoration: none;
  margin: 15px auto 0;
  position: relative;
  z-index: 10;
  transition: .3s;
}

.price .a_system:hover {
  background: #f44336;
  border-color: #f44336;
}

.price .a_system:hover:after {
  background: #fff;
}

.price .a_system:after {
  position: absolute;
  transition: .3s;
  content: '';
  left: 50%;
  bottom: -2px;
  width: 60px;
  height: 4px;
  background: #f44336;
  margin-left: -30px;
  border-top: 2px solid #2c2d2b;
  border-left: 2px solid #2c2d2b;
  border-right: 2px solid #2c2d2b;
}

.price .plus {
  text-align: center;
  font: 40px "AeroMaticsBold", sans-serif;
  color: #f44336;
  margin: 12px 0;
}

.price .footer_middle {
  border: 2px dashed #f44336;
  padding: 25px 0;
  background: url(../img/micro.png) no-repeat 15% center;
}

.price .footer_middle h4 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.price .footer_middle p {
  font: 16px "PTSansRegular", sans-serif;
  color: #fff;
  text-align: center;
}

.price h4 {
  font: 16px "PTSansBold", sans-serif;
  color: #fff;
  text-align: center;
  margin: 15px 0 70px;
  text-transform: uppercase;
}

.price .form_id {
  margin-top: 50px;
}

.price .form_id button {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  transition: .3s;
}

.price .form_id button:after {
  background: #f44336;
  bottom: -2px;
  border: 3px solid #2a2a2b;
  border-bottom: none;
  transition: .3s;
}

.price .form_id button:hover {
  background: #f44336;
  border-color: #f44336;
}

.price .form_id button:hover:after {
  background: #fff;
}

.error {
  box-shadow: inset 0 0 20px 5px #f44336;
}

input {
  transition: .3s;
}

.footer {
  background: url(../img/footer_bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 80px 0 25px;
}

footer {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

footer .menu {
  margin-bottom: 0;
}

footer h2 {
  font: 17px "PTSansBold", sans-serif;
  padding-top: 8px;
  color: #fff;
}

footer h2 span {
  display: block;
}

#modal_form {
  width: 340px;
  text-align: center;
  padding: 35px 20px 40px;
}

#modal_form form {
  margin: 0;
}

#modal_form input {
  float: none;
  width: 100%;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}

#modal_form input[name=name] {
  background: #f5f5f5 url(../img/form_name.png) no-repeat 15px center;
}

#modal_form input[name=tel] {
  background: #f5f5f5 url(../img/form_phone.png) no-repeat 15px center;
}

#modal_form button {
  color: #f44336;
  border: 2px solid #f44336;
  background: transparent;
}

#modal_form button:after {
  background: #f44336;
  bottom: -2px;
  border: 3px solid #fff;
  border-bottom: none;
}

#modal_form h3 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #f44336;
  margin-bottom: 15px;
}

#modal_form p {
  font: 16px "PTSansRegular", sans-serif;
  color: #7e7e7e;
  margin-bottom: 30px;
}

.fancybox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 8040;
  background-image: url(../js/fancybox/x.png);
  background-repeat: no-repeat;
}

#thanks {
  width: 430px;
  background: transparent;
}

#thanks h4 {
  font: 30px "AeroMaticsBoldItalic", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

#thanks .skew {
  width: 100%;
  width: 340px;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  background: #f44336;
  padding: 40px 0;
  margin: 0 auto;
}

.owrap .fancybox-skin {
  background: transparent;
  box-shadow: none;
}

.owrap .fancybox-close {
  display: none;
}

.wrapper_slider {
  position: relative;
  z-index: 10;
  background: #f7f7f7;
}

.wrapper_slider .title {
  margin-top: 80px;
}

.wrapper_slider .title h2 {
  color: #f44336;
}

.wrapper_slider .title h2 span {
  color: #fff;
}

.wrapper_slider .tabs ul {
  text-align: center;
  z-index: 10;
  position: relative;
}

.wrapper_slider .tabs {
  position: relative;
}

.wrapper_slider .tabs:before {
  position: absolute;
  content: '';
  width: 58%;
  height: 60%;
  top: 10%;
  border: 1px solid #e8e8e8;
  left: 21%;
  z-index: 1;
}

.wrapper_slider .tabs p {
  font: 16px "PTSansRegular", sans-serif;
  color: #b5b5b5;
  margin-bottom: 13px;
  transition: .3s;
}

.wrapper_slider .img {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: relative;
  transition: .3s;
}

.wrapper_slider .img:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 5px;
  margin-left: -5px;
  transition: .3s;
}

.wrapper_slider .img svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.wrapper_slider li {
  display: inline-block;
  vertical-align: top;
  margin: 0 40px;
  width: 80px;
}

.wrapper_slider li:hover p {
  color: #242424;
}

.wrapper_slider li:hover .img {
  background: #f44336;
}

.wrapper_slider li:hover .img:after {
  border-top-color: #f44336;
}

.wrapper_slider li:hover .cls-1 {
  fill: #fff;
}

.wrapper_slider .tabs li.active p {
  color: #242424;
}

.wrapper_slider .tabs li.active .img {
  background: #f44336;
}

.wrapper_slider .tabs li.active .img:after {
  border-top-color: #f44336;
}

.wrapper_slider .tabs li.active .cls-1 {
  fill: #fff;
}

.wrapper_slider .cls-1 {
  fill: #dadada;
  transition: .3s;
  fill-rule: evenodd;
}

.wrapper_slider .text {
  opacity: 0;
  transition: .2s;
  text-align: center;
  margin: 0 -25px;
}

.wrapper_slider .text h3 {
  font: 24px "AeroMaticsBoldItalic", sans-serif;
  color: #242424;
  margin-bottom: 10px;
}

.wrapper_slider .text span {
  font: 16px "PTSansRegular", sans-serif;
  color: #7e7e7e;
}

.slider {
  margin-top: 50px;
  position: relative;
}

.slider .text {
  height: 135px;
  overflow: hidden;
}

.slider img {
  width: 120%;
  margin-left: -10%;
  height: 100%;
}

.slider1 {
  position: relative;
}

.slider1 .slide {
  margin-top: 30px;
  position: relative;
  transition: .5s;
}

.slider1 .slide img {
  opacity: .2;
}

.slider1 .slick-center:hover .hover {
  -webkit-transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(1);
  transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(1);
  top: 22%;
}

.slider1 .slick-center:hover a:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slider1 .hover {
  position: absolute;
  top: 27.5%;
  width: 66.5%;
  left: 16.5%;
  height: 29%;
  background: rgba(244, 67, 54, 0.7);
  -webkit-transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(0);
  transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(0);
  transition: top .3s;
}

.slider1 .slide a:after {
  position: absolute;
  content: '';
  top: 28%;
  width: 10%;
  left: 45%;
  height: 10%;
  background: url(../img/slider_lupa.png) no-repeat center center;
  background-size: contain;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: .3s;
}

.slider1 .slide:before {
  content: '';
  position: absolute;
  top: 27.5%;
  width: 66.5%;
  left: 19%;
  height: 31%;
  background: #f7f7f7;
  -webkit-transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(1);
  transform: matrix(1, 0.51, -2.05, 1, 0, 0) scale(1);
  transition: top .3s;
  z-index: -1;
}

.slider2 .slide,
.slider3 .slide {
  margin-top: 30px;
  position: relative;
  transition: .5s;
}

.slider2 .slide img,
.slider3 .slide img {
  opacity: .2;
}

.slider2 .slick-center:hover .hover,
.slider3 .slick-center:hover .hover {
  -webkit-transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(1);
  transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(1);
  top: 18%;
}

.slider2 .slick-center:hover a:after,
.slider3 .slick-center:hover a:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slider2 .hover,
.slider3 .hover {
  position: absolute;
  top: 21.8%;
  width: 41%;
  left: 28.5%;
  height: 39%;
  background: rgba(244, 67, 54, 0.7);
  -webkit-transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(0);
  transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(0);
  transition: top .3s;
}

.slider2 .slide a:after,
.slider3 .slide a:after {
  position: absolute;
  content: '';
  top: 28%;
  width: 10%;
  left: 45%;
  height: 10%;
  background: url(../img/slider_lupa.png) no-repeat center center;
  background-size: contain;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: .3s;
}

.slider2 .slide:before,
.slider3 .slide:before {
  position: absolute;
  content: '';
  top: 21.8%;
  width: 41%;
  left: 28.5%;
  height: 39%;
  background: #f7f7f7;
  -webkit-transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(1);
  transform: matrix(1, 0.6, -1.99, 0.93, 2, -1) scale(1);
  z-index: -1;
}

.slick-center img {
  opacity: 1 !important;
}

.slick-center .text {
  opacity: 1;
}

.tab_item {
  position: relative;
  z-index: 10;
}

.arrow_prev_svg {
  fill: none;
  stroke: #7e7e7e;
  stroke-width: 2px;
  fill-rule: evenodd;
  transition: .4s;
}

.arrow_next_svg {
  fill: none;
  stroke: #7e7e7e;
  stroke-width: 2px;
  fill-rule: evenodd;
  transition: .4s;
}

button.prev {
  position: absolute;
  top: 20px;
  left: 19.5%;
  background: #f7f7f7;
  padding: 10px 0;
}

button.prev span {
  transition: .4s;
  display: inline-block;
}

button.prev:hover .arrow_prev_svg {
  stroke: #f44336;
}

button.prev:hover span:last-child {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

button.next {
  position: absolute;
  top: 20px;
  right: 19.5%;
  background: #f7f7f7;
  padding: 10px 0;
}

button.next span {
  transition: .4s;
  display: inline-block;
}

button.next:hover .arrow_next_svg {
  stroke: #f44336;
}

button.next:hover span:first-child {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.slick-slider {
  margin-bottom: -30px;
}
