/* font-family: "AgoraSansProRegular"; */

@font-face {
    font-family: "Acrom-Regular";
    src: url("../fonts/Acrom-Regular.eot");
    src: url("../fonts/Acrom-Regular.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-Regular.woff") format("woff"), url("../fonts/Acrom-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProBold"; */

@font-face {
    font-family: "Acrom-Bold";
    src: url("../fonts/Acrom-Bold.eot");
    src: url("../fonts/Acrom-Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-Bold.woff") format("woff"), url("../fonts/Acrom-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProLight"; */

@font-face {
    font-family: "Acrom-Light";
    src: url("../fonts/Acrom-Light.eot");
    src: url("../fonts/Acrom-Light.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-Light.woff") format("woff"), url("../fonts/Acrom-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProMedium"; */

@font-face {
    font-family: "Acrom-Medium";
    src: url("../fonts/Acrom-Medium.eot");
    src: url("../fonts/Acrom-Medium.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-Medium.woff") format("woff"), url("../fonts/Acrom-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProBlack"; */

@font-face {
    font-family: "Acrom-ExtraBold";
    src: url("../fonts/Acrom-ExtraBold.eot");
    src: url("../fonts/Acrom-ExtraBold.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-ExtraBold.woff") format("woff"), url("../fonts/Acrom-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AgoraSansProThin"; */

@font-face {
    font-family: "Acrom-Thin";
    src: url("../fonts/Acrom-Thin.eot");
    src: url("../fonts/Acrom-Thin.eot?#iefix")format("embedded-opentype"), url("../fonts/Acrom-Thin.woff") format("woff"), url("../fonts/Acrom-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
