body,
html {
  height: 100%; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

input {
  border: none;
  box-sizing: border-box;
  outline: none; }

.textarea {
  border-radius: 10px; }

.error {
  box-shadow: inset 0 0 6px red; }

button[type=submit] {
  cursor: pointer; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.wrapper_shapka {
  background: url(../images/shapka_bg.jpg) no-repeat center center;
  background-size: cover; }

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 25px 0;
  background: #fff;
  width: 100%;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0; }
  header .email {
    float: left;
    width: 50%;
    text-align: left; }
    header .email a {
      padding-left: 30px;
      text-decoration: none;
      font: 25px "RobotoSlabRegular", sans-serif;
      color: #333;
      background: url(../images/email_header_bg.png) no-repeat left 10px; }
      header .email a span {
        color: #29bed3; }
  header .phone {
    float: right;
    width: 50%;
    text-align: right; }
    header .phone a {
      text-decoration: none;
      font: 25px "RobotoSlabRegular", sans-serif;
      color: #333;
      padding-left: 35px;
      background: url(../images/phone_header_bg.png) no-repeat left 10px; }
    header .phone span {
      color: #29bed3; }

.shapka {
  padding: 120px 0 65px; }
  .shapka h2 {
    text-align: center;
    font: 35px "RobotoSlabRegular", sans-serif;
    color: #fff; }
  .shapka h1 {
    text-align: center;
    font: 35px "RobotoSlabRegular", sans-serif;
    color: #fff;
    margin-bottom: 55px; }
    .shapka h1 span {
      color: #ffc001; }
    .shapka h1 .span2 {
      color: #29bed3; }
  .shapka h3 {
    font: 20px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }
    .shapka h3 .span2 {
      color: #29bed3; }
  .shapka form {
    width: 100%;
    padding: 15px 110px 60px;
    box-sizing: border-box; }
  .shapka .input_wrapper {
    width: 100%;
    border-radius: 17px;
    border: 2px solid #fff;
    background: #fff;
    height: 50px; }
  .shapka .error {
    box-shadow: none;
    border: 2px solid #fc6767; }
  .shapka input[name=email] {
    font: 19px "RobotoSlabRegular", sans-serif;
    color: #fff;
    float: left;
    width: 62.5%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #29bed3;
    background: #29bed3;
    padding: 0 18px; }
  .shapka button[type=submit] {
    float: left;
    width: 37.5%;
    height: 100%;
    background: #fff;
    font: 20px "RobotoSlabRegular", sans-serif;
    color: #29bed3;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
    margin-right: -1px; }
  .shapka input::-webkit-input-placeholder {
    color: #fff; }
  .shapka input::-moz-placeholder {
    color: #fff; }
  .shapka input:-moz-placeholder {
    color: #fff; }
  .shapka input:-ms-input-placeholder {
    color: #fff; }
  .shapka p {
    font: 20px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }
    .shapka p span {
      font: 36px "RobotoSlabRegular", sans-serif;
      color: #ffc001;
      display: block; }
  .shapka ul {
    overflow: hidden;
    padding: 0 135px;
    margin-top: 45px; }
  .shapka li {
    float: left;
    width: 33.333%;
    padding: 0 25px;
    text-align: center;
    box-sizing: border-box;
    font: 22px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase; }
    .shapka li a {
      display: block;
      width: 115px;
      border-radius: 50%;
      height: 115px;
      margin: 0 auto;
      -webkit-transition: all .4s ease;
              transition: all .4s ease;
      margin-bottom: 10px; }
  .shapka li:nth-child(1) a {
    background: #29bed3 url(../images/shapka_li1.png) no-repeat center center; }
  .shapka li:nth-child(2) a {
    background: #29bed3 url(../images/shapka_li2.png) no-repeat center center; }
  .shapka li:nth-child(3) a {
    background: #29bed3 url(../images/shapka_li3.png) no-repeat center center; }
  .shapka li:nth-child(1) a:hover {
    background: #ffc001 url(../images/shapka_li1_hover.png) no-repeat center center; }
  .shapka li:nth-child(2) a:hover {
    background: #ffc001 url(../images/shapka_li2_hover.png) no-repeat center center; }
  .shapka li:nth-child(3) a:hover {
    background: #ffc001 url(../images/shapka_li3_hover.png) no-repeat center center; }

.slider {
  margin-top: -1px;
  width: 100%; }
  .slider .owl-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 50px; }
  .slider .owl-dots .owl-dot.active span {
    background: #ffc001; }
  .slider .owl-dots .owl-dot span:hover {
    background: #ffc001; }
  .slider .owl-dots .owl-dot:hover span {
    background: #ffc001; }
  .slider .owl-dots .owl-dot span {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background: #29bed3;
    -webkit-transition: all .3s ease;
            transition: all .3s ease; }
  .slider .owl-nav .disabled {
    opacity: 1; }
  .slider .owl-carousel .owl-item img {
    -webkit-transform-style: inherit;
            transform-style: inherit; }
  .slider .table {
    display: table;
    height: 700px;
    width: 100%; }
  .slider .table-cell {
    display: table-cell;
    vertical-align: middle; }
  .slider .item1 {
    background: url(../images/slider_item_bg1.jpg) no-repeat center center;
    background-size: cover;
    text-align: center; }
    .slider .item1 h2 {
      font: 45px "RobotoSlabBold", sans-serif;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 55px; }
      .slider .item1 h2 span {
        color: #29bed3; }
    .slider .item1 h2:after {
      width: 100px;
      content: '';
      position: absolute;
      height: 4px;
      background: #ffc001;
      left: 50%;
      bottom: 0;
      margin-left: -50px; }
    .slider .item1 p {
      font: 28px "RobotoSlabBold", sans-serif;
      color: #fff; }
  .slider .item2 {
    text-align: center;
    background: url(../images/slider_item_bg2.jpg) no-repeat center center;
    background-size: cover; }
    .slider .item2 .container {
      padding: 0; }
    .slider .item2 h2 {
      font: 45px "RobotoSlabBold", sans-serif;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 20px;
      position: relative;
      margin-bottom: 45px; }
      .slider .item2 h2 span {
        display: block;
        color: #29bed3; }
    .slider .item2 h2:after {
      width: 100px;
      content: '';
      position: absolute;
      height: 4px;
      background: #ffc001;
      left: 50%;
      bottom: 0;
      margin-left: -50px; }
    .slider .item2 li {
      font: 28px "RobotoSlabBold", sans-serif;
      color: #fff;
      padding: 0 15px;
      float: left;
      box-sizing: border-box; }
      .slider .item2 li span {
        text-transform: uppercase;
        color: #ffc001;
        display: block; }
      .slider .item2 li img {
        width: 60px;
        margin: 0 auto 15px; }
    .slider .item2 li:nth-child(2n+1) {
      width: 32%; }
    .slider .item2 li:nth-child(2) {
      width: 36%; }
  .slider .item3 {
    text-align: center;
    background: url(../images/slider_item_bg3.jpg) no-repeat center center;
    background-size: cover; }
    .slider .item3 .container {
      padding: 0; }
    .slider .item3 h2 {
      font: 45px "RobotoSlabBold", sans-serif;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 20px;
      position: relative;
      margin-bottom: 45px; }
      .slider .item3 h2 span {
        display: block;
        color: #29bed3; }
    .slider .item3 h2:after {
      width: 100px;
      content: '';
      position: absolute;
      height: 4px;
      background: #ffc001;
      left: 50%;
      bottom: 0;
      margin-left: -50px; }
    .slider .item3 li {
      width: 33.333%;
      box-sizing: border-box;
      padding: 0 30px;
      display: inline-block;
      margin: 0 -4px;
      font: 28px "RobotoSlabBold", sans-serif;
      color: #fff;
      margin-bottom: 10px; }
      .slider .item3 li img {
        height: 55px;
        width: auto;
        margin: 0 auto 15px; }

.wrapper_test {
  background: url(../images/wrapper_test_bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 65px 0;
  text-align: center; }
  .wrapper_test h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 45px; }
    .wrapper_test h2 span {
      display: block;
      color: #ffc001; }
  .wrapper_test h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #fff;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .wrapper_test h3 {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    margin-bottom: 40px; }
    .wrapper_test h3 span {
      font: 24px "RobotoSlabBold", sans-serif; }
  .wrapper_test button {
    width: 300px;
    height: 57px;
    background: #ffc001;
    border-radius: 50px;
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #333333;
    box-sizing: border-box;
    padding-bottom: 5px;
    -webkit-transition: .5s;
            transition: .5s; }
  .wrapper_test button:hover {
    background: #fff501; }
  .wrapper_test button:active {
    -webkit-transform: scale(0.92);
        -ms-transform: scale(0.92);
            transform: scale(0.92); }

.wrapper_training {
  text-align: center;
  padding: 70px 0 50px;
  background: #fff; }
  .wrapper_training .container {
    padding: 0 60px; }
  .wrapper_training h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 55px; }
    .wrapper_training h2 span {
      display: block;
      color: #29bed3; }
  .wrapper_training h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #ffc001;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .wrapper_training h3 {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #333333;
    margin-bottom: 40px; }
    .wrapper_training h3 span {
      font: 24px "RobotoSlabBold", sans-serif; }
  .wrapper_training ul {
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #d7d7d7;
    display: table; }
  .wrapper_training li {
    width: 33.333%;
    padding: 20px 20px 15px;
    box-sizing: border-box;
    border-right: 2px solid #d7d7d7;
    display: table-cell;
    height: 100%; }
    .wrapper_training li span {
      display: block; }
    .wrapper_training li img {
      height: 50px;
      width: auto;
      display: block;
      margin: 0 auto 17px; }
    .wrapper_training li p {
      font: 19px "RobotoSlabRegular", sans-serif;
      color: #333333;
      text-transform: uppercase; }
  .wrapper_training li:last-child {
    border: none; }

.subs1 {
  background: url(../images/subs.jpg) no-repeat center center;
  background-size: cover; }

.wrapper_subs {
  padding: 50px 0; }
  .wrapper_subs .container {
    padding: 0 60px; }
  .wrapper_subs form {
    width: 100%; }
  .wrapper_subs .input_wrapper {
    width: 100%;
    height: 70px;
    border-radius: 12px;
    background: #fff;
    overflow: hidden; }
  .wrapper_subs input {
    float: left;
    height: 100%; }
  .wrapper_subs input[type=email] {
    width: 70%;
    background: transparent;
    font: 19px "RobotoSlabRegular", sans-serif;
    color: #494949;
    padding: 0 30px; }
  .wrapper_subs button[type=submit] {
    width: 30%;
    background: #29bed3;
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    height: 100%;
    position: relative;
    right: -1px;
    -webkit-transition: .5s;
            transition: .5s; }
  .wrapper_subs button:hover {
    background: #57d0e2; }
  .wrapper_subs input::-webkit-input-placeholder {
    color: #494949; }
  .wrapper_subs input::-moz-placeholder {
    color: #494949; }
  .wrapper_subs input:-moz-placeholder {
    color: #494949; }
  .wrapper_subs input:-ms-input-placeholder {
    color: #494949; }

.wrapper_materials {
  text-align: center;
  padding: 70px 0 100px;
  background: url(../images/materials_bg.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: -40px; }
  .wrapper_materials h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 50px; }
    .wrapper_materials h2 span {
      display: block;
      color: #29bed3; }
  .wrapper_materials h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #ffc001;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .wrapper_materials h3 {
    font: 24px "RobotoSlabBold", sans-serif;
    color: #333333;
    margin-bottom: 40px; }
  .wrapper_materials ul {
    overflow: hidden; }
  .wrapper_materials li {
    padding: 0 25px;
    box-sizing: border-box;
    float: left;
    margin-right: 12.5%;
    width: 25%;
    font: 19px "RobotoSlabRegular", sans-serif;
    color: #333333;
    text-transform: uppercase; }
    .wrapper_materials li img {
      width: 70%;
      display: block;
      margin: 0 auto 15px; }
  .wrapper_materials li:last-child {
    margin: 0; }

.subs2 {
  background: url(../images/subs2_bg.jpg) no-repeat center center;
  background-size: cover; }
  .subs2 button[type=submit] {
    background: #ffc001;
    color: #333333;
    height: 100%; }
  .subs2 button:hover {
    background: #fff501; }

.wrapper_telegram {
  text-align: center;
  background: url(../images/telegram.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 0; }
  .wrapper_telegram .container {
    padding: 0 125px; }
  .wrapper_telegram h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 50px; }
    .wrapper_telegram h2 span {
      display: block;
      color: #29bed3; }
  .wrapper_telegram h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #ffc001;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .wrapper_telegram h3 {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    margin-bottom: 45px; }
    .wrapper_telegram h3 span {
      font: 24px "RobotoSlabBold", sans-serif; }
  .wrapper_telegram button {
    height: 58px;
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    padding: 0 20px;
    margin: 0 auto;
    background: #29bed3;
    border-radius: 50px;
    -webkit-transition: .3s;
            transition: .3s; }
  .wrapper_telegram button:hover {
    background: #ffc001;
    color: #333333; }
  .wrapper_telegram button:active {
    -webkit-transform: scale(0.91);
        -ms-transform: scale(0.91);
            transform: scale(0.91); }

.wrapper_questions {
  background: url(../images/questions_bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 0 0;
  text-align: center; }
  .wrapper_questions .container {
    padding: 0 60px; }
  .wrapper_questions textarea::-webkit-input-placeholder {
    color: #494949; }
  .wrapper_questions textarea::-moz-placeholder {
    color: #494949; }
  .wrapper_questions textarea:-moz-placeholder {
    color: #494949; }
  .wrapper_questions textarea:-ms-input-placeholder {
    color: #494949; }
  .wrapper_questions h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 55px; }
    .wrapper_questions h2 span {
      display: block;
      color: #29bed3; }
  .wrapper_questions h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #ffc001;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .wrapper_questions textarea {
    font: 19px "RobotoSlabRegular", sans-serif;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    resize: none;
    padding: 20px 30px;
    box-sizing: border-box;
    outline: none;
    border: none !important; }
  .wrapper_questions .textarea {
    border: 1px solid #2f2f2f;
    height: 105px;}
  .wrapper_questions .error {
    box-shadow: none;
    border: 1px solid #fc6767; }
  .wrapper_questions button[type=submit] {
    width: 300px;
    background: #29bed3;
    border-radius: 50px;
    height: 57px;
    font: 24px "RobotoSlabRegular", sans-serif;
    padding-bottom: 5px;
    color: #fff;
    display: block;
    margin: 45px auto 70px;
    -webkit-transition: .3s;
            transition: .3s; }
  .wrapper_questions button:hover {
    background: #ffc001;
    color: #333333; }
  .wrapper_questions button:active {
    -webkit-transform: scale(0.91);
        -ms-transform: scale(0.91);
            transform: scale(0.91); }

.footer {
  border-top: 2px solid #dbdbdb;
  padding: 25px 0; }
  .footer .container {
    padding: 0 30px; }
  .footer .email {
    float: left;
    width: 30%;
    text-align: left; }
    .footer .email a {
      padding-left: 35px;
      text-decoration: none;
      font: 25px "RobotoRegular", sans-serif;
      color: #333333;
      background: url(../images/email_footer_bg.png) no-repeat left 10px; }
  .footer .footer_center {
    width: 40%;
    text-align: center;
    float: left; }
    .footer .footer_center a {
      font: 17px "RobotoRegular", sans-serif;
      color: #333333; }
    .footer .footer_center a:hover {
      text-decoration: none; }
  .footer .phone {
    float: right;
    width: 30%;
    text-align: right; }
    .footer .phone a {
      text-decoration: none;
      font: 25px "RobotoRegular", sans-serif;
      color: #333333;
      padding-left: 25px;
      background: url(../images/phone_footer_bg.png) no-repeat left center; }
    .footer .phone span {
      color: #29bed3; }

.owl-carousel .owl-stage-outer {
  height: 100%; }

.owl-carousel .owl-stage {
  height: 100%; }

.owl-carousel .owl-item {
  height: 100%; }

.questions {
  height: 100%; }
  .questions .container {
    height: 100%; }
  .questions .table {
    display: table;
    height: 100%;
    width: 100%; }
  .questions .table-cell {
    display: table-cell;
    vertical-align: middle; }
  .questions .number_question {
    position: absolute;
    left: 30px;
    top: 80px;
    color: #29bed3;
    font: 28px "RobotoSlabRegular", sans-serif;
    text-transform: uppercase; }
    .questions .number_question span {
      color: #fff; }
  .questions h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 45px;
    text-align: center; }
    .questions h2 span {
      display: block; }
  .questions h2:after {
    width: 100px;
    content: '';
    position: absolute;
    height: 4px;
    background: #ffc001;
    left: 50%;
    bottom: 0;
    margin-left: -50px; }
  .questions li {
    font: 28px "RobotoSlabBold", sans-serif;
    color: #fff;
    display: block;
    width: 100%;
    padding-left: 65px;
    position: relative;
    margin-bottom: 35px;
    box-sizing: border-box;
    cursor: pointer; }
  .questions li:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffc001;
    margin-top: -15px;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    cursor: pointer; }
  .questions li:hover:before {
    background: #29bed3; }

.question1 {
  height: 100%;
  background: url(../images/slider_questions_slide1.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question2 {
  height: 100%;
  background: url(../images/slider_questions_slide2.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question3 {
  height: 100%;
  background: url(../images/slider_questions_slide3.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question4 {
  height: 100%;
  background: url(../images/slider_questions_slide4.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question5 {
  height: 100%;
  background: url(../images/slider_questions_slide5.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question6 {
  height: 100%;
  background: url(../images/slider_questions_slide6.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question7 {
  height: 100%;
  background: url(../images/slider_questions_slide7.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question8 {
  height: 100%;
  background: url(../images/slider_questions_slide8.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question9 {
  height: 100%;
  background: url(../images/slider_questions_slide9.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question10 {
  height: 100%;
  background: url(../images/slider_questions_slide10.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question11 {
  height: 100%;
  background: url(../images/slider_questions_slide11.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question12 {
  height: 100%;
  background: url(../images/slider_questions_slide12.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question13 {
  height: 100%;
  background: url(../images/slider_questions_slide13.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question14 {
  height: 100%;
  background: url(../images/slider_questions_slide14.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question15 {
  height: 100%;
  background: url(../images/slider_questions_slide15.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question16 {
  height: 100%;
  background: url(../images/slider_questions_slide16.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question17 {
  height: 100%;
  background: url(../images/slider_questions_slide17.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question18 {
  height: 100%;
  background: url(../images/slider_questions_slide18.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.question_form {
  height: 100%;
  background: #2dc8de; }
  .question_form .container {
    padding: 0 60px; }
  .question_form button[type=submit] {
    background: #ffc001;
    color: #333333;
    z-index: 1;
    position: relative;
    -webkit-transition: .3s;
            transition: .3s; }
  .question_form button[name=telegram] {
    min-height: 52px;
    border-radius: 50px;
    background: #ffc001;
    color: #333333;
    font: 24px "RobotoSlabRegular", sans-serif;
    -webkit-transition: .3s;
            transition: .3s;
    display: block;
    margin: 20px auto 0;
    padding: 5px 20px; }
  .question_form button:hover {
    background: #fff501; }
  .question_form button[name=telegram]:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
  .question_form .input_wrapper {
    position: relative;
    z-index: 2; }
  .question_form p {
    font: 28px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }
  .question_form h3 {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }

#thanks {
  width: 735px;
  background: #29bed3 url(../images/thanks.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 50px;
  box-sizing: border-box; }
  #thanks h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 25px; }
    #thanks h2 span {
      color: #ffc001;
      display: block; }
  #thanks h2:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 110px;
    height: 2px;
    background: #fff;
    margin-left: -55px; }
  #thanks p {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }
    #thanks p span {
      display: block; }

#thanks-test {
  width: 735px;
  background: #29bed3 url(../images/thanks.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 50px;
  box-sizing: border-box; }
  #thanks-test h2 {
    font: 45px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 25px; }
    #thanks-test h2 span {
      color: #ffc001;
      display: block; }
  #thanks-test h2:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 110px;
    height: 2px;
    background: #fff;
    margin-left: -55px; }
  #thanks-test p {
    font: 24px "RobotoSlabRegular", sans-serif;
    color: #fff;
    text-align: center; }
    #thanks-test p span {
      display: block; }

.fancybox-close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 12px;
  height: 15px;
  cursor: pointer;
  z-index: 8040; }

.thanks .fancybox-close {
  background: url(../js/fancybox/x.png) no-repeat center center; }

.oform .fancybox-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }
.oform h2 {
  font: 20px "RobotoSlabBold", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 30px; }
.oform h3 {
  font: 18px "RobotoSlabBold", sans-serif;
  color: #000;
  margin-bottom: 10px; }
.oform p {
  font: 15px "RobotoSlabRegular", sans-serif;
  color: #434343;
  margin-bottom: 30px; }

#footer_center {
  padding: 30px 20px;
  width: 600px; }

.fancybox-wrap {
  width: 50%; }

.owl-carousel .owl-item img {
  -webkit-transform-style: inherit;
          transform-style: inherit; }

.slider .item1 h2:after {
  -webkit-transform-style: flat;
          transform-style: flat; }

/*# sourceMappingURL=main.css.map */