<div ng-include="'templates/logout.html'"></div>
<div class="col-xs-12">
    <div class="edit">
        <form name="editForm" class="edit">
            <div class="form-group">
                <label for="name">Name</label><input type="text" class="form-control" name="name" id="name" ng-model="edit.user.name" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label><input type="text" class="form-control" name="surname" id="surname" ng-model="edit.user.surname" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div>
                    <label>
                        <input type="radio" ng-model="edit.user.gender" value="male">
                        Male
                    </label>
                    <label>
                        <input type="radio" ng-model="edit.user.gender" value="female">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label><input type="email" class="form-control" name="email" id="email" ng-model="edit.user.email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label><input type="text" class="form-control" name="phone" id="phone" ng-model="edit.user.phone" ng-pattern="edit.phoneValidationPattern" required placeholder="+1-555-532-3455">
            </div>
            <div class="form-group">
                <label for="about">About</label><textarea class="form-control" name="about" id="about" ng-model="edit.user.about"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="edit.save()" ng-disabled="editForm.$invalid">Save changes</button>
        </form>
    </div>
</div>